body {
    background-image: url("../resources/winter_landscape.png");
    display: grid;
    grid-template-columns: 250px;
    grid-template-rows: 25% 25% 13%  40%;
}

img {
    grid-column-start: 2;
    grid-row-start: 3;
    width: 400px;
    height: auto;
    justify-self: center;
}

.story {
    grid-column-start: 2;
    grid-row-start: 1;
    font-size: large;
}

.names{
    grid-column-start: 2;
    grid-row-start: 2;
    text-align: right;
}

.names p{
    font-family: Harrington,fantasy;
    font-size:medium;
}

.rules {
    font-family: Harrington,fantasy;
    font-size: xx-large;
    grid-column-start: 2;
    grid-row-start: 3;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: rgb(255, 255, 255);
}

li a { 
    display: block;
    color: #000;
    padding: 8px 16px;
    height: 30px;
    text-decoration: none;
    font-family:Lucida Calligraphy,cursive;
}


li a:hover { /*quand on passe sur le lien il se colore*/
    background-color: #7bb692;
    color: white;
}

.active { /*le lien actif (la page sur laquelle on est) est coloré*/
    background-color: rgb(228, 72, 72);
    color: white;
}

.hohoho {
    font-family: Harrington,fantasy;
    font-size: xx-large;
    grid-row: 2;
}
