body {
    background-image: url("../resources/snow.jpg");
}

table {
    width: 400px;
    height: 400px;
    border-collapse: collapse;
}

td {
    border: 1px solid black;
}

#playerGridPlacement {
    display: flex;
    margin-top: 20vh;
    margin-bottom: 20vh;
}

#botGridPlacement {
    display: flex;
    margin-top: 20vh;
    margin-bottom: 20vh;
}

.container {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    margin: 0 10vh; 
}
