.title {
    text-align: center;
    font-size: 40px;
}
.title{
    font-family:Lucida Calligraphy,cursive;
}

.edition {
    text-align: center;
    font-size: 25px;
    color: #d70a0a;
    font-family: Harrington,fantasy;
}

body {
    background-image: url("../resources/winter_landscape.png");
}

.play {
    /*interface bouton play */
    background-color: #04AA6D;
    border: none;
    border-radius: 10px;
    color: white;
    height: 55px;
    width: 25%;
    font-size: 20px;
    text-align: center;
    display: block;
    margin: auto;
    transition: all 0.5s;
    cursor: pointer;
    font-family:Lucida Calligraphy,cursive;
}

.play span {
    /*les fonctions suivantes servent à afficher la petite flèche quand on passe la souris sur play */
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.play span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.play:hover span {
    padding-right: 25px;
}

.play:hover span:after {
    opacity: 1;
    right: 0;
}

.menuButton {
    /*Interface des autres boutons*/
    background-color: #da3333;
    border: none;
    border-radius: 10px;
    color: white;
    height: 45px;
    width: 25%;
    font-size: 16px;
    text-align: center;
    display: block;
    margin: auto;
    font-family:Lucida Calligraphy,cursive;
}

.menuButton:hover {
    background-color: #ca1717
}

button a {
    /*gère les liens*/
    display: block;
    text-decoration: none;
    color: white;
}